---
import { Font } from 'astro:assets';

import SEO from '../components/SEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import type { LayoutProps } from '../types/layouts/Layout';

interface Props extends LayoutProps {}

const { title, description, canonicalUrl, image, type, jsonLd } = Astro.props;
---

<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <Font cssVariable="--font-open-sans" />
    <Font cssVariable="--font-quicksand" />
    <SEO
      title={title}
      description={description}
      canonicalUrl={canonicalUrl}
      image={image}
      type={type}
      jsonLd={jsonLd}
    />
  </head>
  <body class="bg-background flex min-h-screen flex-col text-base antialiased">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
